/* color scheme sourced from https://coolors.co/palette/012a4a-013a63-01497c-014f86-2a6f97-2c7da0-468faf-61a5c2-89c2d9-a9d6e5 */
:root {
  --darkest-blue: #012A4A;
  --dark-blue: #013A63;
  --medium-blue: #2C7DA0;
  --light-blue: #A9D6E5;
  --stone: #E0E1DD;
}


body {
  background-color: var(--light-blue);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;

}

/*Top Navigation*/
.navigation {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

#navlinks{
  text-decoration: none;
  color: var(--stone);
}

#navlinks:hover{
  background-color: Var(--light-blue)
}



/* Header/Footer */
header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: var(--darkest-blue);
}

header {
  position: relative;
  border-bottom: 0px solid #c5ddea;
  text-align: right;
}

.footer {
  text-align: center;
  font-size: 14px;
  background-color: var(--light-blue);
}


/* Top Image */
.hero {
  height: 300px;
  width: 100%;
  margin-bottom: px;
  background-image: url("../images/Moonlight.jpeg");
  background-size: cover;
  background-position: center;
  
}
  

/* Side Bar */
aside {
  margin-right: 20px;
  padding: 20px;
  float: left;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--medium-blue);
  text-align: justify;  
  flex: 1;
   
}

    /* About Me Section */
    .bio {
      margin-bottom: 20px;
      font-size: 12px;
    }


    .bio-pic {
      border-radius: 50%;
      border: 10px solid var(--dark-blue);
      width: 150px; 
      display: block;
      Margin-left: auto;
      Margin-right: auto;
      Margin-bottom: 10px;
    }

    h2 {
      text-align: center;
      margin-bottom: 5px;
      color: var(--stone)
    }

    p {
      color: var(--stone);
    }

    /*Contact Info Section*/
    .Contact {
      display: ;
      padding: 0px 20px;
      text-decoration: none;
      color: var(--stone);
    }

    #contactlinks{
      text-decoration: none;
      color:var(--light-blue);
    }

    #contactlinks:hover {
      text-decoration: none;
      color:var(--light-blue);
      background-color: var(--dark-blue);
    }

 /* Work Section */

 .row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
  padding: 10px;
}

.project-column {
  margin: 10px;
}

.card-body {
  opacity: 50%;
}

.card-body:hover {
  opacity: 100%;
}

h3 {
  color: var(--stone);
  background-color: var(--dark-blue);
}

@media screen and (max-width: 768px) {
  main,
  aside, .bio {
    flex-direction: column;
  }

  .bio-pic {
    max-width: 25%;
    border: 1px solid var(--dark-blue);
  }
}



