/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #e866ec;
}


body {
  background-color: #c5ddea;

}

/*Top Navigation*/
.navigation {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

#navlinks{
  text-decoration: none;
  color:#e866ec;
}

/*Contact info*/
.Contact {
  display: ;
  padding: 0px 20px;
  text-decoration: none;
}

#contactlinks{
  text-decoration: none;
  color:peru;
}


a {
  text-decoration: none;
  color: #FDF8F5;
}

a:hover {
  background-color:red;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #264e61;
}

header {
  position: relative;
  border-bottom: 0px solid #c5ddea;
  text-align: right;
}

.footer {
  text-align: center;
  font-size: 14px;
}


/* Top Image */
.hero {
  height: 300px;
  width: 100%;
  margin-bottom: px;
  background-image: url("../images/Moonlight.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 50%; 
}
  
.hero:hover{
  opacity: 100%; 
}

/* Side Bar */
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: left;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2589bd;
  text-align: justify;  
   
}

.bio {
  margin-bottom: 20px;
  font-size: 12px;
}

h2 {
  text-align: center;
}

.bio-pic {
  border-radius: 50%;
  border: 10px solid black;
  width: 150px; 
  display: block;
  Margin-left: auto;
  Margin-right: auto;
  Margin-bottom: 10px;
}


 /* Portfolio Content */
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
  padding: 10px;
}

.project-column {
  margin: 10px;
}

.card-body {
  opacity: 50%;
}

.card-body:hover {
  opacity: 100%;
}
